:root {
  /* two vars */
  --dark-bg: #222;
  --light-bg: #eee;
  --dark-txt: white;
  --light-txt: black;
}

.container {
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease-in-out;
}

body {
  height: 100vh;
  margin: 0 !important;
}

#checkbox {
  display: none;
}

#checkbox,
#theme-toggle {
  position: fixed;
  /* Default - Dark Theme - maybe*/
  border-radius: 1em;
  width: 1em;
  height: 1em;
  margin: 0 0 0 1px;
  top: 0.2em;
  right: 0.2em;
  transition: background-color 0.5s, box-shadow 1s ease-in-out;
}

.headings {
  padding: 0.5em 2em;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  .container {
    background-color: var(--light-bg);
    color: var(--light-txt);
  }
  #checkbox + #theme-toggle {
    background-color: yellow !important;
    box-shadow: 0 0 4px 2px yellow !important;
  }
  #checkbox:checked + #theme-toggle {
    background-color: gray !important;
    box-shadow: 0 0 8px 4px yellow !important;
  }
  #checkbox:checked ~ * {
    background-color: var(--dark-bg);
    color: var(--dark-txt);
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--dark-bg);
    color: var(--dark-txt);
  }
  #checkbox + #theme-toggle {
    background-color: gray !important;
    box-shadow: 0 0 8px 4px yellow !important;
  }
  #checkbox:checked + #theme-toggle {
    background-color: yellow !important;
    box-shadow: 0 0 4px 2px yellow !important;
  }
  #checkbox:checked ~ * {
    background-color: var(--light-bg);
    color: var(--light-txt);
  }
}
