
.embed-containter{ 
    width: 790px;
}
#embed1 { 
    border: .5px solid red; 
    height: 900px;
    text-align: left;
    width: 45%;
}
#embed2 { 
    border: .5px solid red; 
    height: 900px;
    text-align: right;
    width: 54%;
}
.headings {
    margin: .5em 2em;
    text-align: center;
}
